@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Reem Kufi';
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
  font-optical-sizing: auto;
}

body {
  @apply h-screen w-screen !overflow-x-hidden
}
body > div#__nuxt {
  @apply h-full w-full
}

::selection {
  @apply bg-white text-secondary
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-800
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* @apply bg-primary; */
}

.h-input {
  @apply  bg-gray-800 border !border-opacity-10 rounded-full  outline-none px-4 py-1 text-base  
}